defaults: &defaults
  webpay: 'ccccccccccccccccccc'
  twilio:
    caller_id: '+8100000000'
    account_sid: 'xxxxxxxxxxxxxxxxxxxxxxxx'
    auth_token: 'xxxxxxxxxxxxxxxxxxxxx'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
