$darkblue:#08233e;
$lightblue:#1890C2;
$orange:#69CCE8;
$red:#ED1C24;
$inherit-bg:rgba(#fff, .7);
$my-shadow:1px 1px 3px 2px #ccc;
$border_color:#e7e7e7;

$main_color:#006f8e;
$second_color:#ed1c24;
$accent_color:#ed2c24; 
$base_color: #fff;
$line_color: #ccc;
