// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'module/module';

.home-mask {
  position: fixed;
  top: 50px;
  background-color: rgba(#000, .3);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home {
  text-align: center;
  h1.title {
    text-align: center;
    font-family: 'Norican', cursive;
    font-size: 52px;
    color: #fff;
    z-index: 10;
  }
  a.btn {
    background-color: $main_color;
    color: #fff;
    margin-top: 200px;
    z-index: 10;
    margin-bottom: 200px;
  }
}

.home-container {
  height: 100%;
  background-image: url(home-img.jpg);
  background-position: center center;
  background-size: cover;
}
