// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import  'module/module';

.items {
  a:hover {
    text-decoration: none;
    color: $main_color;
  }
}

.orders-list {
  position: relative;
  p.attention {
    font-weight: 900;
    color: $main_color;
  }
  p.round-list {
    color: #000;
  }
  .status-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    .status {
      text-align: center;
      border: 1px solid $main_color;
      color: $main_color;
      padding: 2px 4px;
      @include border_radius;
      margin-bottom: 5px;
      font-size: 11px;
    }
    .status.colored {
      background-color: $main_color;
      color: #fff;
    }
    .round-list {
      color: #000;
    }
  }
}

.orders-show {
  .items {
    .orders-show__check-status {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 10px;
      .field,
      .actions {
        display: inline-block;
        margin-right: 10px;
      }
      .field {
        label {
          font-weight: 100;
          margin-right: 2px;
        }
      }
      .actions {
        .btn {
          padding: 3px 6px; 
          background-color: #eee;
          color: $main_color;
          border: 1px solid $main_color;
          margin-left: 15px;
        }
      }
    }
    h2,
    .status {
      display: inline-block;
    }
    .status {
      position: relative;
      bottom: 3px;
      background-color: #eee;
      padding: 3px 6px;
      @include border_radius;
      color: $main_color;
      border: 1px solid $main_color!important;
      margin-left: 10px;
      p {
        margin:0;
      }
    }
    .items__box {
      .items__box__body {
        .items__box__body__details {
          border-bottom: 1px solid $line_color;  
          padding: 5px 0;
          &:last-child {
            border-bottom: 0px solid #fff; 
          }
        } 
      } 
      .items__box__footer {
        background-color: #eee;
        p {
          &:after {
            content: "";
          } 
        }
      }
    }
  }
  .back-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      background-color: $main_color;
      padding: 6px 12px;
      @include border_radius;
      margin: 0 auto;
      color: #fff;
    }
  }
}
