// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import  'module/module';

.orders-list {
  position: relative;
  .status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $main_color;
    padding: 3px 6px;
    @include border_radius;
    color: #fff;
  }
}
